@import './normalize',
        './global';

body {
    background: #FEFCF8;
    font-weight: 400;
    font-family: $font-noto-sans-arabic;
    color: rgba(54, 54, 54, 0.7);
}

button, input, textarea, li, div {
    font-family: $font-noto-sans-arabic;
    font-weight: 400;
    color: rgba(54, 54, 54, 0.7);

}

.container {
    max-width: 1400px;
    width: calc(100% - 30px);
    margin: 0 auto;
}

.main-btn {
    background: linear-gradient(136deg, #dbaa46 0%, #d8cb3a 100%);
    border-radius: 50px;
    padding: 0 30px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    gap: 7px;
}

.sec-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #363636;

    span {
        color: #d9bd3f;
        display: inline;
    }
}

// Header
.header {
    position: absolute;
    top: 49.86px;
    left: 0;
    width: 100%;
    z-index: 2;

    &-container {
        max-width: 1360px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 36px 0 rgba(97, 97, 97, 0.15);
        background: #fff;
        border-radius: 20px;
        padding: 20px 20px 20px 25px;
    }

    &-logo {
        flex-shrink: 0;

        img {
            width: 159px;
        }
    }

    &-navs {
        display: flex;
        align-items: center;
        gap: 36px;

        &__link {
            font-size: 16px;
            line-height: 150%;
            color: #363636;
        }
    }

    .main-btn {
        height: 45px;
        padding: 0 16px;
    }
}
// Header end

// Home
.home {
    padding-top: 30px;

    &-container {
        position: relative;
        z-index: 1;
        border-radius: 35px;
        height: 804px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 20px;
        overflow: hidden;
    }

    &-subtitle {
        border-radius: 12px 12px 0 0;
        padding: 9px 20px;
        backdrop-filter: blur(4px);
        background: rgba(255, 255, 255, 0.2);
        transform: translateX(calc(-50% + 19.5px)) rotate(90deg);
        font-family: $font-inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        bottom: 408px;
        left: 0;
    }
    
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &-card {
        width: 625px;
        margin-left: 54.5px;
        transform: translateY(20px);
    }

    &-content {
        box-shadow: 0 4px 14px 0 rgba(97, 97, 97, 0.15);
        background: #fff;
        border-radius: 20px;
        padding: 40px;
        width: 580px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 60px;
            line-height: 120%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
            color: #363636;
            margin-bottom: 11px;
            
            span {
                display: block;
                background: linear-gradient(136deg, #dbaa46 0%, #d8cb3a 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            margin-bottom: 31px;
        }

        .line {
            height: 1px;
            width: 100%;
            flex-shrink: 0;
            background: linear-gradient(to right, rgba(249, 180, 60, 0.8), #FEC938, rgba(249, 180, 60, 0.8));
            margin-bottom: 30px;
        }
        

        &__texts {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 45px;
            margin-bottom: 31px;

            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;

                h3 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 120%;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    text-align: center;
                    color: #363636;
                    
                    small {
                        font-size: 14px;
                    }
                }

                span {
                    font-size: 16px;
                    line-height: 140%;
                    text-align: center;
                }
            }
        }

        .main-btn {
            width: 100%;
            height: 47px;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 12px;
            line-height: 150%;
            text-align: center;
            
            a {
                text-decoration: underline;
                text-decoration-skip-ink: none;
                display: inline;
            }
        }
    }
}
// Home end

// About
.about {
    padding-top: 120px;

    &-container {
        display: flex;
        align-items: stretch;
        gap: 10px;
    }

    &-card {
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        width: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }

        &__text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-family: $font-inter;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.02em;
            text-align: center;
            color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(4px);
            background: rgba(255, 255, 255, 0.2);
            padding: 2.5px 20px;
        }
    }

    &-content {
        width: calc(50% - 10px);
        flex-shrink: 0;
        box-shadow: 0 4px 24px 0 rgba(97, 97, 97, 0.15);
        background: #fff;
        padding: 40px;
        border-radius: 20px;
    }

    h2 {
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #363636;
        margin-bottom: 20px;

        span {
            color: #daba40;
        }
    }

    &-steps {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        &__item {
            box-shadow: 0 1px 14px 0 rgba(97, 97, 97, 0.15);
            background: #fff;
            padding: 20px;
            border: 1px solid #efefef;
            border-radius: 25px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            .step {
                &-number {
                    box-shadow: 0 1px 14px 0 rgba(97, 97, 97, 0.15);
                    background: linear-gradient(136deg, #dbaa46 0%, #d8cb3a 100%);
                    border-radius: 20px;
                    padding: 7px 15px 6px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 120%;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #fff;
                }

                &-title {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 120%;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #363636;
                    margin-top: 13px;
                    text-align: center;

                    span {
                        color: #dabd3f;
                    }
                }

                &-subtitle {
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                }

                &-imgs {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 19px 0 10px;

                    li {
                        border-radius: 20px;
                        width: 140px;
                        height: 126px;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 20px;
                            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18) inset;
                            z-index: 1;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                &-text {
                    font-family: $font-inter;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 150%;
                    letter-spacing: -0.02em;
                    color: rgba(54, 54, 54, 0.5);
                }
            }
        }
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        margin: 30px 0 21px;
    }

    .main-btn {
        width: 100%;
        justify-content: space-between;
        height: 60px;
        padding: 0 5px 0 30px;
    }

    h4 {
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        
        a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }
}
// About end

// Prices
.prices {
    padding-top: 120px;

    &-head {
        margin-bottom: 50px;

        h2 {
            margin-bottom: 8px;
        }

        p {
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0.03em;
            text-align: center;
            color: rgba(54, 54, 54, 0.7);
        }
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 30px;
    }

    &-card {
        padding: 50px 40px 30px;
        position: relative;
        border-radius: 30px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &::before {
            content: "";
            position: absolute;
            top: -22px;
            left: 50%;
            transform: translateX(-50%);
            width: 102px;
            height: 43px;
            background: #fff;
            box-shadow: 0 4px 24px 0 rgba(97, 97, 97, 0.15);
            border-radius: 100px;
            z-index: -1;
        }
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            box-shadow: 0 4px 24px 0 rgba(97, 97, 97, 0.15);
            background: #fff;
            z-index: -1;
        }

        &__number {
            position: absolute;
            top: -17px;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #fff;
            padding: 6px 14px;
            border-radius: 100px;
            z-index: 1;
            
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                background: white;
                border-radius: 100px;
                z-index: -1;
            }
            
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 100px;
                z-index: -1;
                background: linear-gradient(136deg, #dbaa46 0%, #d8cb3a 100%);
            }
        }

        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
            color: #363636;
            margin-bottom: 5px;
            
            span {
                color: #d9bd3f;
            }
        }

        &__subtitle {
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0.03em;
            text-align: center;
            color: rgba(54, 54, 54, 0.7);
            margin-bottom: 20px;
        }

        &__value {
            display: flex;
            align-items: flex-end;
            gap: 6px;

            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #363636;
                margin-bottom: 3px;
            }

            b {
                font-weight: 700;
                font-size: 24px;
                line-height: 120%;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #363636;
                
            }
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            width: 100%;
            margin: 15px 0 6px;
        }

        li {
            height: 204px;
            border-radius: 20px;
            display: flex;
            align-items: flex-end;
            box-shadow: inset 0 0 16px 0 rgba(97, 97, 97, 0.2);
            background: #fefcf8;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        p {
            font-family: $font-inter;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: -0.02em;
            color: rgba(54, 54, 54, 0.5);
        }
    }

    &-foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;

        p {
            font-size: 12px;
            line-height: 150%;
            text-align: center;
            
            a {
                display: inline;
                text-decoration: underline;
                text-decoration-skip-ink: none;
            }
        }
    }
}
// Prices end

// Experience
.experience {
    padding-top: 120px;

    &-head {
        margin-bottom: 25px;

        h2 {
            margin-bottom: 7px;
        }

        p {
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0.03em;
            text-align: center;
            color: rgba(54, 54, 54, 0.7);
        }
    }

    .examples__slider {
        max-width: 491px;
        width: 100%;
        margin: 0 auto;
    }
    
    .examples__slide {
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 24px 0 rgba(97, 97, 97, 0.15);
        background: #fff;
        transition: all .4s ease;
        transform: scale(0);
        position: relative;
        z-index: 1;

        &-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 9px;
            padding: 10px 10px 0;
            margin-bottom: 20px;

            &-value {
                font-weight: 700;
                font-size: 24px;
                line-height: 120%;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #363636;

                span {
                    color: #d9bd3f;
                }
            }

            &-text {
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0.03em;
                color: rgba(54, 54, 54, 0.7);
            }
        }

        &-content {
            box-shadow: inset 0 4px 24px 0 rgba(97, 97, 97, 0.15);
            background: #fefcf8;
            border-radius: 15px;
            padding: 26px 28px;
            width: 100%;
            height: 390px;
            position: relative;
            z-index: 1;
            overflow: hidden;

            &-body {
                width: 170px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                img {
                    width: 150px;
                }

                span {
                    font-size: 14px;
                    line-height: 130%;
                    letter-spacing: 0.03em;
                    color: rgba(54, 54, 54, 0.7);
                }
            }

            .small-img {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 191px;
                z-index: -1;
            }

            .big-img {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
                width: 260px;
            }
        }
    }
    
    .examples__slide-big {
        display: none;
    }

    .swiper-slide-prev,
    .swiper-slide-next {
        transform: scale(.577);
    }

    .swiper-slide-prev-prev {
        transform: scale(.31) translateX(550px);
    }

    .swiper-slide-next-next {
        transform: scale(.31) translateX(-550px);
    }

    .examples__slide.swiper-slide-active {
        transform: scale(1);
        position: relative;
        z-index: 20;
    }

    .swp {
        &-navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            button {
                width: 51px;
                height: 49px;
                flex-shrink: 0;
                border-radius: 50%;
                background: linear-gradient(136deg, #dbaa46 0%, #d8cb3a 100%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-pagination {
            width: auto;
            display: flex;
            align-items: center;
            gap: 18px;

            span {
                margin: 0 !important;
                padding: 0;
                opacity: 0.4;
                background: #D9BD3F;
                width: 10px;
                height: 10px;
                border-radius: 50%;

                &.swiper-pagination-bullet-active {
                    opacity: 1;
                }
            }
        }
    }

    &-foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        gap: 20px;

        p {
            font-size: 12px;
            line-height: 150%;
            text-align: center;
            
            a {
                display: inline;
                text-decoration: underline;
                text-decoration-skip-ink: none;
            }
        }
    }
}
// Experience end

// Choice
.choice {
    padding-top: 120px;

    &-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-bottom: 30px;

        p {
            max-width: 696px;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0.03em;
            color: rgba(54, 54, 54, 0.7);
        }
    }

    &-content {
        border-radius: 30px;
        padding: 10px;
        box-shadow: 0 4px 24px 0 rgba(97, 97, 97, 0.15);
        background: #fff;
        display: flex;
        align-items: stretch;
        gap: 10px;
    }

    .big-img {
        height: auto;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 290px;
        flex-shrink: 0;

        &__item {
            box-shadow: inset 0 4px 24px 0 rgba(97, 97, 97, 0.15);
            background: #fefcf8;
            height: 175px;
            border-radius: 20px;
            padding: 26px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 8px;
            position: relative;

            &-icon {
                position: absolute;
                top: 15px;
                right: 15px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }

            &-title {
                font-weight: 700;
                font-size: 34px;
                line-height: 120%;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                background: linear-gradient(136deg, #dbaa46 0%, #d8cb3a 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &-text {
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0.03em;
                text-align: center;
                color: rgba(54, 54, 54, 0.7);
            }
        }
    }

    .images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        &-item {
            height: 100%;
            position: relative;
            border-radius: 20px;
            overflow: hidden;

            &:nth-child(1) {
                grid-column: span 2;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
// Choice end

// Review
.review {
    padding-top: 120px;

    p {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        margin: 10px 0 30px;
    }

    &-swp {
        overflow: visible;
    }

    &-card {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 1px 14px 0 rgba(97, 97, 97, 0.15);
        }
    }

    &-foot {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 30px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            line-height: 150%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-align: center;
        }
    }
}
// Review end

// Patient
.patient {
    padding-top: 120px;

    &-container {
        box-shadow: 0 4px 24px 0 rgba(97, 97, 97, 0.15);
        background: #fff;
        border-radius: 30px;
        display: flex;
        align-items: stretch;
        padding: 10px;
        gap: 10px;
    }

    &-content {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 550px;
        flex-shrink: 0;
        box-shadow: inset 0 4px 24px 0 rgba(97, 97, 97, 0.15);
        background: #fefcf8;
        border-radius: 20px;

        h2 {
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
            color: #363636;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            h3 {
                font-weight: 700;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                text-align: center;
                color: #d9bd3f;
            }

            p {
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0.03em;
                text-align: center;
                color: rgba(54, 54, 54, 0.6);
            }
        }

        .line {
            height: 1px;
            width: 100%;
            background: linear-gradient(to right, rgba(217, 191, 62, 0), #D9C03E, rgba(217, 191, 62, 0));
        }

        &__foot {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .main-btn {
                width: 100%;
            }

            p {
                font-size: 12px;
                line-height: 150%;
                text-align: center;

                a {
                    display: inline;
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                }
            }
        }
    }

    &-card {
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
// Patient end

// Specialist
.specialist {
    padding-top: 120px;
}
// Specialist end

// Footer
.footer {}
// Footer end